{{/* layouts/partials/extended_head.html */}}

<!-- Structured Data (JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Switchboard Tech Services",
  "image": "{{ "images/theswitchboard.jpg" | absURL }}",
  "url": "https://switchboardtechservices.com/",
  "telephone": "+1-660-956-1108",
  "email": "theswitchboard@protonmail.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "PO Box 594",
    "addressLocality": "Kirksville",
    "addressRegion": "MO",
    "postalCode": "63501",
    "addressCountry": "US"
  },
  "areaServed": "Kirksville Courthouse radius",
  "openingHours": "Mo-Fr 17:00-21:00 Sa 10:00-18:00"
}
</script>
